#gst,
#triforce {
    font: 24px Impact, sans-serif;
    color: rgba(255, 255, 255, 0.75);
}

.med_rewardtext,
.stone_rewardtext {
    display: inline-block;
    background-size: contain;
}

.med_rewardtext {
    width: 25px;
    height: 25px;
    margin: 3px;
}

.stone_rewardtext {
    width: 33px;
    height: 12px;
    margin: 6px 1.5px 11.5px 1.5px;
}

.stones {
    display: inline-block;
    position: relative;
    background-size: contain;
    width: 33px;
    height: 33px;
    margin: 11.5px 1.5px 11.5px 1.5px;
}

.majoritem {
    display: inline-block;
    position: relative;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin: 3px;
}

.ct_cycle {
    top: 32px;
}

.medallion {
    /* background-size: 85px; */
}

.simpletype {
    display: inline-block;
    background-size: contain;
    width: 116px;
    height: 15px;
}

.dungname-col1 {
    display: inline-block;
    background-size: contain;
    width: 60px;
    height: 15px;
    margin-left: 15px;
}

.dungname-col2 {
    display: inline-block;
    background-size: contain;
    width: 75px;
    height: 15px;
    margin-left: 15px;
}

.dungname-col3 {
    display: inline-block;
    background-size: contain;
    width: 45px;
    height: 15px;
    margin-left: 15px;
}

.keys {
    display: inline-block;
    background-size: contain;
    width: 20px;
    height: 20px;
    font: 16px Impact, sans-serif;
}

.tracker {
    flex: 0 0 356px;
}

.cycle-badge {
    display: inline-block;
    /* position: relative; */
    /* top: 10px; */
    width: 20px;
    height: 20px;
    background-size: contain;
}
